{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/chatbot.css' %}">
    </head>
<body>
<button id="chatbot-button" class="chatbot-button">
    <img src="{% static 'img/chat.png' %}" height="70px" alt="Chatbot icon" />
  </button>

  <div id="chatbot-window" class="chatbot-window">
    <div class="chatbot-header">
      Chatbot
      <button id="close-button" class="close-button">&times;</button>
    </div>
    <div id="chatbot-messages" class="chatbot-messages">
    </div>
    <form id="chatbot-form" class="chatbot-form">
      <input
        type="text"
        id="message-input"
        class="message-input"
        placeholder="Type a message..."
      />
      <button type="submit" class="send-button">Send</button>
      <div class="empty-message-alert"></div>
    </form>
</div>

<script src="{% static 'js/chatbot.js' %}"></script>
</body>
</html>

