{% extends 'dashboard.html' %}
{% block content %}


<div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Instructions</h4>
          </div>
          <div class="card-body">
            <ol class="list-group">
              <li class="list-group-item">To add a playlist, navigate to the "Add Playlist" option on the dashboard.</li>
              <li class="list-group-item">Enter a verified playlist link and click on "Add."</li>
              <li class="list-group-item">To view all your playlists, navigate to the "All Playlists" section.</li>
              <li class="list-group-item">To watch the videos in a playlist, click on the "Watch Now" button under the desired playlist.</li>
              <li class="list-group-item">On the "Watch Now" page, you can play any video from the playlist by clicking on the video's title.</li>
              <li class="list-group-item">You can also take notes while watching the videos by using the "Take notes" button.</li>
              <li class="list-group-item">You can also share the playlist with your friends and family by using the "Share" button.</li>
              <li class="list-group-item">You can also organize your playlists by creating multiple playlists and tagging them.</li>
              <li class="list-group-item">To search for a specific playlist you can use the search bar on the top of the page.</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
  



{% endblock content %}